body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 600px;
  margin: 20px auto; /* Ajuste para melhor visualização em dispositivos móveis */
  padding: 20px;
  background-color: #fff; /* Uso do branco para melhor contraste */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.input-group { /* Usando classe do Bootstrap para o container de input */
  margin-bottom: 20px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc; /* Adicionado borda para melhor definição */
  border-radius: .25rem; /* Bootstrap padrão border-radius */
  background-color: #fff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075); /* Ajuste para sombra interna sutil */
}

.btn-primary { /* Ajuste para botões utilizando as cores padrões do Bootstrap modificadas */
  background-color: #ff5851;
  border-color: #ff5851; /* Assegura que a borda seja da mesma cor do botão */
}

.btn-primary:hover {
  background-color: #ff403a;
  border-color: #ff403a;
}

.list-group-item { /* Adaptação para itens da lista com classes do Bootstrap */
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.list-group-item:hover {
  background-color: #f2f2f2;
}

.btn-status { /* Botões de status da tabela */
  color: white;
  transition: background-color 0.3s ease;
}

.btn-red, .btn-green, .btn-orange { /* Especificações para cores dos botões */
  color: white;
  border-color: transparent; /* Remove qualquer borda padrão */
}

.btn-red {
  background-color: red;
}

.btn-green {
  background-color: green;
}

.btn-orange {
  background-color: orange;
  color: black;
}
/* Adiciona estilo para linhas tachadas de tarefas concluídas */
.task-done {
  text-decoration: line-through;
  opacity: 0.6;
}

@media (max-width: 768px) {
  .form-control, .form-select, .btn {
      font-size: 14px;  /* Tamanho menor de fonte para dispositivos menores */
  }

  .table-responsive {
      margin-top: 20px;
  }

  thead th {
      font-size: 12px;  /* Tamanho menor de fonte para cabeçalhos de tabela em telas pequenas */
  }
}

/* Estilo geral para a responsividade da tabela */
.table-responsive {
  overflow-x: auto; /* Garante que a tabela será rolável horizontalmente se necessário */
}

/* Ajustes específicos para telas pequenas */
@media (max-width: 576px) {
  .table thead th, .table tbody td {
      font-size: 12px; /* Reduz o tamanho da fonte para telas menores */
      padding: 8px; /* Reduz o padding para economizar espaço */
  }

  .table th, .table td {
      white-space: nowrap; /* Evita que o texto quebre em várias linhas */
      overflow: hidden; /* Oculta qualquer texto que exceda o tamanho da célula */
      text-overflow: ellipsis; /* Adiciona elipses se o texto for muito longo para a célula */
      max-width: 100px; /* Define uma largura máxima para cada célula para evitar sobreposição */
  }

  .btn { /* Ajusta botões para telas menores */
      padding: 0.375rem 0.75rem;
      font-size: 0.75rem;
  }
}
